body {
    margin: 0;
    padding: 0;
    background-color: #f9e9e3;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D3C2B5;
    top: 0;
    left: 0;
    z-index: 1000;
    position: sticky;
}

.kalam-regular {
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
  }

  .jim-nightshade-regular {
    font-family: "Jim Nightshade", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: black;
    position: relative;
    top: -60px; /* Felfelé mozgatja a szöveget */
    margin-bottom: 20px; /* Csökkenti a szöveg alatti távolságot */
}
    
.just-another-hand-regular {
  font-family: "Just Another Hand", serif;
  font-weight: 400;
  font-style: normal;
}

.profile-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-top: 23px;
    transition: ease 500ms;
}

.profile-icon:hover {
    transform: scale(1.1);
}

.logo img {
    width: 110px;
    height: 110px;
    background-color: #ddd;
    border-radius: 50%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: #d3bfb4;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    border-top: none; /* Ha a lábléc okoz egy felső vonalat */
}

footer p {
    margin: 0;
    color: black;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-item img {
    width: 24px; /* Ikon mérete */
    height: 24px;
  }
  
  .contact-item span {
    font-size: 16px;
    color: #000; /* Szöveg színe */
  }
  
  .contact-section span {
    font-weight: 500;
  }

  .kalam-regular {
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
  }

  .fixed{
    position: fixed;
    right: 1%;
    top: 75%;
    z-index: 1000;
    background-color: #d3bfb4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 500ms;
}
.fixed:hover{
    transform: scale(1.1);
}
.fixed i{
    font-size: 2rem;
    color: #000000;
}

  