* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jim-nightshade-regular {
    font-family: "Jim Nightshade", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarolo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
}

.focim {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.reg {
    background-color: #D3C2B5;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#btnReg {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: inherit;
    border: none;
    cursor: inherit;
}

.reg:hover {
    transform: scale(1.01);
}

.input {
    background-color: #FFE7DA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px 0;
}

input {
    background-color: inherit;
    font-size: 1.5rem;
    padding: 10px 0;
    width: 90%;
    border: none;
    outline: none;
}

@media screen and (max-width: 428px) {
    .reg, .input {
        width: 350px;
    }
}

@media screen and (max-height: 430px) {
    .tarolo {
        height: 100%;
        justify-content: flex-start;
    }
}