body {
    margin: 0;
    padding: 0;
    background-color: #f9e9e3;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D3C2B5;
    top: 0;
    left: 0;
    z-index: 1000;
    position: sticky;
}

.kalam-regular {
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
  }

.jim-nightshade-regular {
    font-family: "Jim Nightshade", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #000000;
    position: relative;
    margin-bottom: 20px; /* Csökkenti a szöveg alatti távolságot */
}

  .profile-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-top: 23px;
    transition: ease 500ms;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-item img {
    width: 24px; /* Ikon mérete */
    height: 24px;
  }
  
  .contact-item span {
    font-size: 16px;
    color: #000; /* Szöveg színe */
  }
  
  .contact-section span {
    font-weight: 500;
  }

.dancing-script {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.profile-icon:hover {
    transform: scale(1.1);
}

.logo img {
    width: 110px;
    height: 110px;
    background-color: #ddd;
    border-radius: 50%;
}

.hero {
    position: relative;
    text-align: center;
    color: #6F5B4C;
    padding:  100px;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/kepek/hatter.jpg'); /* Háttérkép helye */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* A kép 50%-os átlátszósága */
    z-index: 1; /* A háttér legyen alatta */
}

.hero h1, .hero span,
.hero p {
    position: relative;
    z-index: 2; /* A szöveg legyen a háttér felett */
    margin: 0;
}
.hero h1 {
    font-size: 50px;
    margin-top: -20px;
    font-weight: normal;

   
}

.hero p {
    font-size: 24px;
    margin-top: 10px;
}

h1 {
    font-size: 45px;
    color: #000000;
    text-align: center;
    margin: 10px 0;
}

.subheading {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf3ee;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.cim {
    text-align: center;
    font-size: 40px;
    color: #000000;
}

.szoveg {
    text-align: center;
    padding: 0 60px;
}

.alszoveg {
    font-size: 25px;
}

.fixed{
    position: fixed;
    right: 1%;
    top: 75%;
    z-index: 1000;
    background-color: #d3bfb4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 500ms;
}
.fixed:hover{
    transform: scale(1.1);
}
.fixed i{
    font-size: 2rem;
    color: #000000;
}


.content h2 {
    font-size: 34px;
    margin-top: 20px;
    color: #806754;
    text-align: center;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

footer {
    background-color: #d3bfb4;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    border-top: none; /* Ha a lábléc okoz egy felső vonalat */
}

footer p {
    margin: 0;
    color: black;
}